@model ToasttabWebApp.Models.User;
@{
    ViewData["Title"] = "Signup";
    Layout = "_Layout2";

}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="container py-5">
                <h2>
                    Built for restaurants.<br />
                    Built for you.
                </h2>
                <p class="text-secondary">Quick to learn, and even easier to use: Toast's restaurant-first platform is built with you in mind.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <h1 class="text-center">@ViewData["Title"]</h1>
                <form asp-controller="Home" asp-action="Create" method="post" id="loginForm" onsubmit="return validateForm()" class="container border rounded-lg p-4 bg-light">
                    <div class="form-group mb-2">
                        <label asp-for="Username" class="control-label"></label>
                        <input id="username" type="text" asp-for="Username" placeholder="Username" required autocomplete="off" oninput="validateUsername()" class="form-control" />
                        <span id="errormsg1" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label asp-for="Password" class="control-label"></label>
                        <input id="password" type="password" asp-for="Password" placeholder="Password" required autocomplete="off" oninput="validatePass()" class="form-control" />
                        <span id="errormsg2" class="text-danger"></span>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Signup</button>
                    </div>

                    <div class="text-center mt-3">
                        <a href="@Url.Action("Index","Home")" class="text-decoration-underline">Already have an account? Login.</a>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>


<script src="~/js/site.js"></script>